@import './../../base';

.home {
  background-color: $background-color;
}

.games {
  .game {
    display: inline-block;
    margin-right: 150px;
    padding-right: 60px;

    .card {
      margin-right: -60px;
    }
  }
}

#table {
  .discarded {
    border: 1px dotted #444;
    display: inline-block;
    margin: 10px;
    width: 104px;
    height: 143px;

    .card {
      margin: 0;
      position: absolute;
    }
  }
}
