@import './../../base';

.home {
  background-color: $background-color;

  .match {
    span {
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-right: 20px;
      padding: 5px 20px;
    }
  }

  .player {
    .buttons {
      button {
        margin: 0 10px;
      }
    }
  }
}

.games {
  .game {
    display: inline-block;
    margin-right: 100px;
    padding-right: 60px;

    .card {
      margin-right: -60px;
    }
  }
}

#table {
  .cards {
    border: 1px dotted #444;
    display: inline-block;
    margin: 10px;
    padding: 8px;
    width: 104px;
    height: 143px;

    .card {
      cursor: pointer;
      margin: 0;
      position: absolute;
    }

    &.disabled {
      .card {
        cursor: not-allowed;
      }
    }
  }
}
